{{#each posts}}
    <div class="card">
        <img src="images/homestead-automation-logo.svg" alt="">
        <div class="container">
            <h3>{{postTitle}}</h3>
            <p>{{postBody}}</p>
        </div>
        <button onclick="window.location.href = '/posts/edit/{{id}}';" class="btn-edit">Edit</button>
        <!-- delete post -->
        <form method="POST" id="delete-btn-form" action="/posts/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit" class="btn-delete">Delete</button>
        </form>
    </div>
{{else}}
    <h2>No Posts</h2>
{{/each}}

{{#if user}}
    <a href="/posts/add" class="btn-add">Add Post</a>
{{/if}}