{{#each posts}}
    <div class="card">
        <a href="/posts/{{id}}"><img src="images/homestead-automation-logo.svg" alt="blog post image"></a>
        <div class="container">
            <h1>{{postTitle}}</h1>
            <p>{{postBody}}</p>
        </div>
        {{#if ../user.admin}}
            <button onclick="window.location.href = '/posts/edit/{{id}}';" class="btn-edit">Edit</button>
        {{/if}}
        <!-- delete post -->
        <form method="POST" id="delete-btn-form" action="/posts/{{id}}?_method=DELETE">
            <input type="hidden" name="_method" value="DELETE">
            {{#if ../user.admin}}
                <button type="submit" class="btn-delete">Delete</button>
            {{/if}}
        </form>
    </div>
{{else}}
    <h2>No Posts</h2>
{{/each}}

{{#if user.admin}}
    <a href="/posts/add" class="btn-add">Add Post</a>
{{/if}}