
<div class="card">
    <div class="container">
        <img src="" alt="" id="current-profile-pic">
        <form method="POST" action="userProfile/{{user.id}}" enctype="multipart/form-data">
            <label for="userName">User Name</label>
            <input type="text" name="userName" value={{user.userName}}>

            <label for="email">Email</label>
            <input type="text" name="email" value={{user.email}}>

            <label for="city">City</label>
            <input type="text" name="city" value={{user.contact.city}}>

            <label for="state">State</label>
            <input type="text" name="state" value={{user.contact.state}}>

            <label for="zip">Zipcode</label>
            <input type="text" name="zip" value={{user.contact.zip}}>

            <label for="phoneNumber">Phone Number</label>
            <input type="tel" name="phoneNumber" id="phoneNumber" value={{user.contact.phoneNumber}}>

            <input type="file" id="avatar" accept="image/*">
            <input type="hidden" id="avatar-coordinates" name="avatar-coordinates">

            <button class="button-submit pic-submit" type="submit">Submit</button>
            <button type="button" class="button-submit" id="select-img-btn">click to change picture or drag and drop</button>
        </form>
    </div>
</div>

<div id="croppr-container-custom">
    <img src="" alt="" id="croppr">
</div>

<div style="height: 500px;"></div>

<script src="/javascript/bundles/userProfile.bundle.js"></script>