<div class="card">
    <div class="container">
        <form>
            <label for="userName">User Name</label>
            <input type="text" name="userName" value={{user.userName}}>

            <label for="email">Email</label>
            <input type="text" name="email" value={{user.email}}>

            <label for="city">City</label>
            <input type="text" name="city" value={{user.contact.city}}>

            <label for="state">State</label>
            <input type="text" name="state" value={{user.contact.state}}>

            <label for="zip">Zipcode</label>
            <input type="text" name="zip" value={{user.contact.zip}}>

            <label for="phoneNumber">Phone Number</label>
            <input type="tel" name="phoneNumber" id="phoneNumber" value={{user.contact.phoneNumber}}>


            <!--<img src="/images/tux.jpg" alt="image to crop" id="changed-image">-->
            <input type="file" id="avatar" accept="image/*">

            <button class="button-submit pic-submit" type="submit">Submit</button>
            <button type="button" class="button-submit" id="select-img-btn">click to change picture or drag and drop</button>
        </form>
    </div>
</div>

<img src="" alt="" id="changed-image">
<div id="croppr-container">
<img src="/images/tux.jpg" alt="image to crop" id="croppr">
</div>

<script src="/javascript/bundles/userProfile.bundle.js"></script>