
<div class="card">
    <div class="container">
        <img src="" alt="" id="current-profile-pic">
        <form method="POST" id="userProfileForm" name="userProfileForm" action="/userProfile/{{user._id}}" 
               onsubmit="sendData()" enctype="multipart/form-data">
            <label for="userName">User Name</label>
            <input type="text" name="userName" id="userName" value={{user.userName}}>

            <label for="email">Email</label>
            <input type="text" name="email" id="email" value={{user.email}}>

            <label for="city">City</label>
            <input type="text" name="city" id="city" value={{user.contact.city}}>

            <label for="state">State</label>
            <input type="text" name="state" id="state" value={{user.contact.state}}>

            <label for="zip">Zipcode</label>
            <input type="text" name="zip" id="zip" value={{user.contact.zip}}>

            <label for="phoneNumber">Phone Number</label>
            <input type="tel" name="phoneNumber" id="phoneNumber">

            <input type="hidden" name="userId" id="userId" value={{user.id}}>

            <input type="hidden" id="avatar-coordinates" name="avatarCoordinates">

        </form>
            <input type="file" id="avatar" name="image" accept="image/*">

            <button class="button-submit pic-submit" type="submit" id="form-submit">Submit</button>
            <button type="button" class="button-submit" id="select-img-btn">click to change picture or drag and drop</button>
    </div>
</div>

<div id="croppr-container-custom">
    <img src="" alt="" id="croppr">
</div>

<div style="height: 500px;"></div>

<script src="/javascript/bundles/userProfile.bundle.js"></script>