<div class="card">
    <img src="/images/homestead-automation-logo.svg" alt="blog post image">
    <div class="container">
        <h1>{{post.postTitle}}</h1>
        <p>{{post.postBody}}</p>
    </div>
    {{#if user}}
        <button onclick="window.location.href = '/posts/edit/{{id}}';" class="btn-edit">Edit</button>
    {{/if}}
    <!-- delete post -->
    <form method="POST" id="delete-btn-form" action="/posts/{{id}}?_method=DELETE">
        <input type="hidden" name="_method" value="DELETE">
        {{#if user}}
            <button type="submit" class="btn-delete">Delete</button>
        {{/if}}
    </form>
</div>

{{#if user}}
    <input type="hidden" id="user-id" value="{{user._id}}">
    <input type="hidden" id="post-id" value="{{post._id}}">
{{/if}}

<div class="card">
    <div class="container">
        <h2>{{#if post.comments}}Comments{{else}}No Comments{{/if}}</h2>
    </div>
</div>

{{#each post.comments}}
    <div class="card">
        <div class="container">
            <p>{{date}}</p>
            <p>{{author}}</p>
            <p>{{body}}</p>
            <button class="btn-edit">Edit</button>
            <button class="btn-delete">Delete</button>
        </div>
    </div>
{{/each}}

<!-- TODO: add this to db with javascript async-->
<div class="card">
    <div class="container">
        {{#if user}}
            <form action="">
                <textarea name="comment" id="add-comment"></textarea>
            </form>
            <button href="/posts/add" class="btn-add" id="add-comment-btn">Add Comment</button>
        {{/if}}
    </div>
</div>